<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xidian.master_data.mapper.ProcessMasterMapper">

    <resultMap id="BaseResultMap" type="cn.xidian.master_data.model.entity.ProcessMaster">
            <id property="partId" column="part_id" jdbcType="VARCHAR"/>
            <id property="vehicleModel" column="vehicle_model" jdbcType="VARCHAR"/>
            <id property="consumptionPosition" column="consumption_position" jdbcType="VARCHAR"/>
            <result property="factory" column="factory" jdbcType="VARCHAR"/>
            <result property="workshop" column="workshop" jdbcType="VARCHAR"/>
            <result property="line" column="line" jdbcType="VARCHAR"/>
            <result property="consumptionAmount" column="consumption_amount" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        part_id,vehicle_model,consumption_position,
        factory,workshop,line,
        consumption_amount
    </sql>
</mapper>
